#movementsLog{
    width: 15%;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 5px;
    /* backdrop-filter: blur(20px); */
    list-style-position: inside;
    overflow-y: scroll;
    max-height: 640px; /* ⚠️Resolver isso  */
}



#moveList li{
    display: inline-block;
    width: 100%;
}